.vscode
.vs
.idea/**
*.gitkeep
node_modules/
build/
*.iml
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
src/**/*.js
src/**/*.js.map
typings
dist
out
lib
!pipeline/dist
!.idea/runConfigurations/
!.idea/runConfigurations/**
**/target/**
**/__snapshots__/**
coverage
package-lock.json
.npmrc
.yarnrc
!/web-ui/yarn.lock
